.div1 p {
    background-color: blue;
}

.div-hijo-directo > p {
    background: antiquewhite;
}

.selector-adyacente + section {
    background: brown;
}

.selector-hermanos-generales ~ section{
    background: yellowgreen;
}

.div-pseudoclases1 {
    background-color: antiquewhite;
}

.div-pseudoclases2 {
    color: black;
}

.div-pseudoclases1 p:hover{
    background-color: red;
}

.div-pseudoclases2 p:nth-child(3) {
    color: blueviolet;
}

.pseudoelementos1 p::before {
    content: "✨";
}

.pseudoelementos2 p::after {
    content: "✨";
}

.pclass-pelem p:hover::before {
    content: "✨" ;
}

#h4-display-block {
    display: block;
    background: yellowgreen;
}

#h4-display-inline {
    display: inline;
    background: yellowgreen;
}

#h4-display-inline-block {
    display: inline-block;
    background: yellowgreen;
    width: 300px;
    height: 80px;
}

#box-model {
    background: coral;
    width: 100px;
    height: 150px;
    box-sizing: border-box;
    padding: 20px 30px 40px 50px;
    border: 5px solid #000;
    margin: 10px 20px 30px 40px;
}

#div-colapso1 {
    width: 80px;
    height: 50px;
    background: blue;
    margin-bottom: 30px;
    padding: 4px;
}

#div-colapso2 {
    width: 80px;
    height: 50px;
    background: red;
    margin-top: 35px;
    padding: 4px;
}

#div-colapso-flex {
    display: flex;
    flex-direction: column;
    
}

#div-flex-1 {
    background: red;
    width: 100px;
    height: 60px;
    margin-bottom: 30px;   
}

#div-flex-2 {
    background: blue;
    width: 100px;
    height: 60px; 
    margin-top: 40px; 
}

.card-container {
    display: flex;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    background-image: url("https://i.pinimg.com/originals/2d/87/b3/2d87b3bc358e08070f8a8e719ab05400.jpg");
    background-size:cover;
    background-position-x: center;
    width: 300px;
    height: 500px;
    border-radius: 20px;
    border: 2px solid orange;
    overflow: hidden;
}

.c1 {   
    background: blue;
    flex-basis: 70%;
    opacity: 0.1;
 }

.c2 {
    background: black;
    flex-basis: 30%;
    opacity: 0.5;
    border-top: 1px solid orange;
}

.c2 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
    width: 40%;  
}

.info-top {
    color:white;
    text-align: center;
    vertical-align: middle;
    
}

.info-top a {
    color: white;
    text-decoration:line-through;
}


